services:

	blog.articleFormFactory:
		class: BlogModule\Forms\ArticleFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)
		tags: [component]

	blog.listFormFactory:
		class: BlogModule\Forms\ListFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)
		tags: [component]

	blog.categoryFormFactory:
		class: BlogModule\Forms\CategoryFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)
		tags: [component]

