services:

	blog.articleFormFactory:
		class: BlogModule\Forms\ArticleFormFactory(..., @cms.pageRepository)
		setup:
			- injectFactory(@cms.admin.basicFormFactory)
		tags: [component]

	blog.listFormFactory:
		class: BlogModule\Forms\ListFormFactory(..., @cms.pageRepository)
		setup:
			- injectFactory(@cms.admin.basicFormFactory)
		tags: [component]

	blog.categoryFormFactory:
		class: BlogModule\Forms\CategoryFormFactory(..., @cms.pageRepository)
		setup:
			- injectFactory(@cms.admin.basicFormFactory)
		tags: [component]

