services:

	blog.blogContent:
		class: CmsModule\Content\ContentType('BlogModule\Entities\PageEntity')
		setup:
			- addSection('Content', @blog.tableControlFactory)
			- addSection('Settings', @blog.pageFormFactory)
		tags: [contentType: [name: 'blog']]

	blog.blogRepository:
		class: BlogModule\Entities\BlogEntity
		tags: [repository]

includes:
	- presenters.neon
	- components.neon
