factories:

    blog.blogPresenter:
        class: BlogModule\Presenters\BlogPresenter
        tags: [presenter]

    blog.defaultPresenter:
        class: BlogModule\Presenters\DefaultPresenter
        tags: [presenter]
