services:

    blog.blogPresenter:
        class: BlogModule\Presenters\BlogPresenter(@blog.blogRepository)
        tags: [presenter]

    blog.defaultPresenter:
        class: BlogModule\Presenters\DefaultPresenter(@blog.blogRepository)
        tags: [presenter]
