services:

    blog.listPresenter:
        class: BlogModule\Presenters\ListPresenter(@blog.articleRepository)
        tags: [presenter]

    blog.defaultPresenter:
        class: BlogModule\Presenters\DefaultPresenter
        tags: [presenter]
