{includeblock ../Resources/layouts/@blog.latte}

{define #blog}
<div id="myCarousel" class="carousel slide">
	{include #blog-items items=>$items, thumbnail=>$thumbnail}

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
{/define}


{define #blog-items}
<div class="carousel-inner">
{foreach $items as $item}
	<div class="{if $iterator->isFirst()}active {/if}item">{include #blog-items-item item=>$item, thumbnail=>$thumbnail}</div>
{/foreach}
</div>
{/define}


{define #blog-items-item}
	<img n:src="$item->photo->getFileUrl(true), size=>$thumbnail, format=>\Nette\Image::EXACT" alt="{$item->name}" />
    <div class="carousel-caption">
        <h4><a href="{plink this route=>$item->route}">{$item->name}</a></h4>
        <p>{!$item->notation}</p>
    </div>
{/define}


{include #blog items=>$control->getItems(), thumbnail=>"{$width}x{$height}"}