{block content}

<h1>{$entity->mainRoute->title}</h1>

<ul class="item-info">
	<li>{$entity->created|date: "%d.%m.%Y"}</li>
	<li n:foreach="$entity->categories as $c">{$c->name}</li>
</ul>

<p>
	{$entity->notation}
</p>

<p>
	{!$entity->text|content}
</p>
