{block content}

<h1>Blog list</h1>

{foreach $control->getItems() as $item}
<h2><a n:href="this route=>$item->route">{$item->name}</a></h2>

<ul class="item-info">
    <li>{$item->created|date: "%d.%m.%Y"}{if $item->author} | {$item->author}{/if}</li>
</ul>

<p>
	{!$item->notation}
</p>

{/foreach}

{control vp}