{includeblock ../../Resources/layouts/@page.latte}

{define #page}
<div id="myCarousel" class="carousel slide">
	{include #page-items items=>$control->getItems(), thumbnail=>"{$width}x{$height}"}

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
{/define}


{define #page-items}
<div class="carousel-inner">
{foreach $items as $item}
	<div class="{if $iterator->isFirst()}active {/if}item">{include #page-items-item item=>$item, thumbnail=>$thumbnail}</div>
{/foreach}
</div>
{/define}


{define #page-items-item}
	<img n:if="$item->photo" n:src="$item->photo->getFileUrl(true), size=>$thumbnail, format=>\Nette\Image::EXACT" alt="{$item->name}" />
    <div class="carousel-caption">
        <h4><a href="{plink Route route=>$item->route}">{$item->name}</a></h4>
        <p>{!$item->notation}</p>
    </div>
{/define}


{include #page}