{**
 * Blog Module (Venne:CMS))
 *
 * @package    BlogModule
 *
 * @param array   $items
 *}

{block content}

<h1>Blog list</h1>

{foreach $items as $item}
<h2><a n:href="Default: url=>$item->url">{$item->title}</a></h2>

<ul class="item-info">
	<li>{$item->created|date: "%d.%m.%Y"}</li>
	<li n:foreach="$item->categories as $c">{$c->name}</li>
</ul>

<p>
	{$item->notation}
</p>

{/foreach}
